{% extends '_base_list_template.html' %}

{# <table class="table table-hover">
    <tr>
        {% if status.author.avatar %}
        <td width="70px">
            <a href="{{ url_for('main.profile', username=status.author.username) }}">
                <img src="{{ status.author.avatar(70) }}" />
            </a>
        </td>
        {% endif %}
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.profile', username=status.author.username) }}">
                        {{ status.author.username }}
                    </a>
                </span>
            {% endset %}
            ///
            {{ _('%(username)s said %(when)s',
                username=user_link, when=moment(status.timestamp).fromNow()) }}
            <br>
            ///
            <span id="status{{ status.id }}">{{ status.body }}</span>
        </td>
    </tr>
</table>
#}
{#
<p>
    <a href="{{ url_for('main.profile', username=status.author.username) }}">
                <img src="{{ status.author.avatar(30) }}" />
    </a>
    <a href="{{ url_for('main.profile', username=status.author.username) }}">{{ status.author.username }}</a>
    said: {{ status.body }}
</p>
#}

{% block item_content %}
    <div class="child content-title content-date">
        {{ item.timestamp.strftime('%d-%b-%Y; %I:%M:%S%p') }}
    </div>
    <div class="child content-body">
        {{ item.body }}
    </div>
{% endblock %}
